
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding-top: 70px; 
    font-family: "Alegreya Sans", serif;
    background-color: #eaeaea;
}

html, body {
    margin: 0; 
    padding: 0;
    width: 100%; 
    height: 100%; 
    overflow-x: hidden; 
    font-family: "Alegreya Sans", serif;
    background-color: rgb(255, 255, 255); 
}


main {
    min-height: calc(100vh - 70px);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
}
/*header*/


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    color: beige;
    margin-bottom: 0;
  }
  .header-link {
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    color: inherit; 
}
  
  .logo {
    img {
      height: 100px;
      width: 100px;
      transition: transform 0.3s ease;
    }
  }
  
    .header-link:hover .logo img {
    transform: scale(1.1); 
    }
  
  .title {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Familjen Grotesk', sans-serif;
    margin-right: 45%;
  }
  
  .main-title {
    color: rgb(123, 26, 26);
    margin: 0;
    font-size: 1.2em;
    white-space: nowrap;
  }
  
  .sub-title {
    color: beige;
    margin: 0;
    font-size: 1.1em;
  }
  
  .menu {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      font-size: 20px;
      margin-left: 250px;
  
      li {
        margin-left: 30px;
  
        a {
          text-decoration: none;
          color: beige;
          font-weight: bold;
  
          &:hover {
            color: rgb(123, 26, 26);
          }
        }
      }
    }
  }

.hero{
    margin-top: 0;
    padding: 0;
    height: 60vh; 
    width: 100%; 
    object-fit: cover;
    background-image: url(../assets/img/menjarasiatic.jpg);
    background-position: center top; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-color: rgb(242, 242, 230); 
    position: relative; 
    text-align: center;
    top:0;
}

.contenedor-i-textos{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(123, 26, 26);
}


.hero h1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 15px;
}

.hero p{
    font-size: 45px;
    font-weight: 400;
    color: beige;
}
.hero figure {
    position: absolute; 
    bottom: 5%; 
    left: 85%; 
    transform: translateX(-50%); 
    color:beige;
    white-space: nowrap;
    padding: 5px 10px; 
    font-size: 0.9em; 
    text-align: left;
    max-width: 90%; 
    z-index: 1; 

}

.hero figure a {
  color: beige;
  text-decoration: none;
  
}

.hero figure a:hover {
    color: rgb(123, 26, 26);
  }

/* Secció de subscripció */
.newsletter {
    text-align: center;
    padding: 30px 30px;
    max-width: 600px;
    margin: 40px auto;
 
}

.newsletter h2 {
    font-size: 1.8rem;
    color: rgb(123, 26, 26);
    margin-bottom: 10px;
}

.newsletter h3 {
    font-size: 1.5rem;
    color: rgb(123, 26, 26);
    margin-top: 20px;
}

.newsletter p {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

/* Formulari */
.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.newsletter-form input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

/* Casella de termes */
.terms {
    font-size: 0.9rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 5px;
}

.terms input {
    width: 15px;
    height: 15px;
}

.terms a {
    color: rgb(123, 26, 26);
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

/* Botó de subscripció */
.newsletter-form button {
    background-color: rgb(123, 26, 26);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.newsletter-form button:hover {
    background-color: rgb(123,26,26);
}
/* Main index*/
.container-i {
    background-color:#eaeaea;;
    margin: 0;
    padding: 0px;
    width: 100%;
    min-height: 100vh; 
}

/*enllaços*/
.bloggers-container{
    
    gap: 40px; 
    max-width: 1200px; 
    margin: 40px auto; 
    padding: 20px;
    width: 70%;
    
}
.section-title {
    font-size: 2rem;
    margin-bottom: 10px;
    color:rgb(123, 26, 26);
    text-align:center; 
}

section p {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}


.bloggers {
    display: flex; 
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-between;
    align-items: flex-start; 
}


.blog {
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center; 
    flex-direction: column; 
    gap: 20px; 
    flex: 1 1 calc(33.33% - 20px);
    box-sizing: border-box;
}

.blog h3 {
    font-size: 1.4rem;
    margin-bottom: auto;
    color: rgb(0, 0, 0);
    align-items: center
    
}

.blog p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}

.blog a {
    display: inline-block;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
    background-color: transparent;
    transition:  0.3s, color 0.3s;
    margin: 10px auto 0;
    width: auto;
    margin-top: auto; 
    text-align: left;
    margin-right: auto;
    margin-left: 10px;
}

.blog a:hover {
    border: 1px solid rgb(123, 26, 26);
    color: rgb(123, 26, 26);
}

.blogger-img {
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 20px; 
    margin-top: 10px;
    margin-bottom: 10px;
}
/*categories*/
.categories-section {
    margin: 40px auto;
    max-width: 1200px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.category {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.category-title {
    font-size: 1.5rem;
    color:black;
    margin-bottom: 10px;
}
.category figure {
    position: relative; 
    margin: 0; 
    width: 100%;
    height: 200px;
    overflow: hidden; 
}

.category img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    
    
}

.category figcaption {
    font-size: 0.9rem; 
    background-color: rgba(255, 255, 255, 0.7); 
    position: absolute;
    bottom: 5%; 
    left:  35%; 
    width: auto; 
    max-width: 60%; 
    padding: 8px 15px; 
    text-align: left; 
    color: rgb(0, 0, 0); 
    z-index: 1;
    white-space: nowrap;
    display: inline-block; 
    margin-left: 30%;
    
}

.category figcaption a{
    text-decoration: none;
    color:black
}

.category figcaption a:hover{
    color: rgb(123, 26, 26);
}

.show-more-btn {
    background: transparent;
    border: 2px solid rgb(123, 26, 26);
    color: rgb(123, 26, 26);
    padding: 10px 20px;
    font-size: 1.2rem;
    font-family:"Alegreya Sans", serif; ;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    margin-top: 20px;
    display: inline-block;
    width: auto;

.show-more-btn {
    background: transparent;
    border: 2px solid rgb(123, 26, 26);
    color: rgb(123, 26, 26);
    padding: 10px 20px;
    font-size: 1.2rem;
    font-family:"Alegreya Sans", serif; ;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    margin-top: 20px;

}

}

.show-more-btn:hover {
    background-color: rgb(123, 26, 26);
    color: white;
}

.show-more-btn:focus {
    outline: none;
}
/*detall*/
/* Estil per a la secció de detall */
.section-sections {
    text-align: justify;
    padding: 10px;
    max-width: 900px;
    margin: 20px auto;
}

/* Estil per al títol */
.detall-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(123, 26, 26);
    padding: 20px;
}

/* Estil per al text descriptiu general */
.detall-description {
    font-size: 1rem;
    color: black;
    margin-bottom: 15px;
    padding: 20px;
}

/* Contenidor per al text i la imatge */
.detall-content {
    display: flex;
    flex-wrap: wrap; /* Permet que el contingut s'ajusti en pantalles més petites */
    justify-content: space-between; /* Coloca els elements als extrems */
    gap: 20px; /* Espai entre el text i la imatge */
    margin: 20px auto;
}
.detall-content img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    
    
}
/* Estil per al text a l'esquerra */
.detall-description-img {
    font-size: 1rem;
    color: #555;
    line-height: 1.6; /* Augmenta l'espai entre línies per millorar la llegibilitat */
    flex: 1; /* Permet que el text ocupi tot l'espai disponible */
    padding-left: 20px;
    max-width: 900px;
    margin: 5px auto;
}
.detall-image{
    flex-basis: 40%; /* Estableix l'ample de la imatge com el 40% del contenidor */
    max-width: 40%; /* Màxima amplada de la imatge */
    margin-top: 30px; /* Marge superior per separar la imatge del text */

}

/* Estil per als subtítols */
.detall-subtitle {
    text-align: center;
    padding: 10px;
}

/* Estils per a la figura i la imatge */
.detall-content figure {
    position: relative; 
    margin: 0; 
    width: 100%;
    height: 200px;
    overflow: hidden; 
}



/* Estil per al peu de foto (figcaption) */
.detall-content figcaption {
    font-size: 0.9rem; 
    background-color: rgba(255, 255, 255, 0.7); 
    position: absolute;
    bottom: 5%; 
    left:  35%; 
    width: auto; 
    max-width: 60%; 
    padding: 8px 9px; 
    text-align: left; 
    color: rgb(0, 0, 0); 
    z-index: 1;
    white-space: nowrap;
    display: inline-block; 
    margin-left: 30%;
}

/* Estil per als enllaços dins del figcaption */
.detall-content figcaption a {
    text-decoration: none;
    color: black; /* Color negre per al text dels enllaços */
}

.detall-content figcaption a:hover {
    color: rgb(123, 26, 26); /* Canviem el color en passar el ratolí per sobre */
}





.experience-form {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-wrapper {
    position: relative;
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px; 
}

.form-label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

.form-input, .form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-button {
    background-color: rgb(123, 26, 26);
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.form-button:hover {
    background-color: rgb(64, 195, 130);
}



/*footer*/
.footer {
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
    padding: 20px 40px; 
}


.footer-top {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
}


.footer-left {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.logo-decorativo {
    background-image: url("../img/logotip-n.svg"); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px; 
    height: 30px;
    margin-bottom: 4px; 
}

.footer-name {
    font-size: 12px;
    white-space: nowrap;
    color:rgb(255, 255, 255); 
}


.footer-right {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    gap: 10px; 
}


.footer-logos {
    display: flex; 
    gap: 15px; 
}

.footer-logos img {
    width: 20px; 
    height: auto;
    cursor: pointer; 
}

.footer-logos img:hover {
    opacity: 0.7
}


.footer-links {
    list-style: none; 
    display: flex; 
    gap: 20px; 
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}
.footer-links li{
    position: relative;
    display: inline-block;
}

.footer-links li a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
    font-size: 12px; 
    padding: 5px 10px;
    display: inline-block; 
}

.footer-links li:not(:last-child)::after {
    content: "|"; 
    font-size: 12px;
    position: absolute;
    color: rgb(255, 255, 255);
    right: -12px;
}

.footer-links li a:hover {
    text-decoration: none;
    color: rgb(64, 195, 130);
}